
.container {
  box-shadow: 
    0 0.125rem 1rem rgba(27, 40, 50, 0.04),
    0 0.125rem 2rem rgba(27, 40, 50, 0.08),
    0 0 0 0.0625rem rgba(27, 40, 50, 0.024);
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  max-width: 860px;
  padding: 40px;
}

h3 {
  text-align: center;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  max-width: 800px;
}

.collapsible:after {
  content: '\002B';   /* The '+' character*/
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  background-color: #f1f1f1;
  border-bottom: solid 1px #f1f1f1;
}

p{
  margin-left: 10px;
  padding: 5px;
}

/* Form button styling */
input, select  {
  border-radius: 5px;
  border: solid 1px #ccc;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
}
       
input[type=submit] {
  background-color: green;
  color: white;
}

input[type=submit]:hover {
  background-color: #45a049;
  border: solid 1px #000;
}

label {
  text-align: right; 
  margin: auto 0 auto 0;
}

form {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
