/examples/mqtt_webserver/build
/examples/mqtt_webserver/.vscode
/.pio
/examples/mysqlRFID/.pio
/pio_examples/customOptions/.pio
/pio_examples/gpio_list/.pio
/pio_examples/highcharts/.pio
/pio_examples/withWebSocket/.pio/build
/examples/customHTML/.vscode
/examples/mysqlRFID/.vscode
/pio_examples/customOptions/.vscode
/pio_examples/customHTML/.vscode
/examples/customOptions/.vscode
/pio_examples/highcharts/.vscode
/pio_examples/withWebSocket/.vscode
/pio_examples/leanWebserver/.vscode
/pio_examples/gpio_list/.vscode
/examples/csvLoggerSD/.vscode
/examples/esp32-cam/.vscode
